<body>
    <div>
    <h1 class="Contact"> Contact Us</h1>
    <section class="contact2">
      <form class="contact-form">
        <fieldset>
            <legend>Name</legend>
            <input type="text" id="name" name="name" placeholder="Your name" required>
        </fieldset>
        <br>
        <fieldset>
            <legend>Email</legend>
            <input type="email" id="email" name="email" placeholder="Your email" required>
        </fieldset>
  <button type="submit">Login</button>
</form>
</section>
</div>
</body>
