<body>
    <div>
    <h1 class="Contact">Login</h1>
    <section class="contact2">
      <form class="contact-form">
        <fieldset>
            <legend>Name</legend>
            <input type="text" id="name" name="name" placeholder="Your name" required>
        </fieldset>
        <br>
        <fieldset>
            <legend>Email</legend>
            <input type="password" id="password"   placeholder="Your password" [(ngModel)]="email" name="password">
        </fieldset>
  <button type="submit">Login</button>
</form>
</section>
</div>
</body>
