#contact{
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #e600b8;
    padding: 85px 20px 70px 20px;
    scroll-behavior: smooth;
}

.contact2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: block;
    left: -500px;
    top: 20% auto;
    width: 60%;
    height: 70% auto;
    margin: 40px auto;
    padding: 20px;

}
.contact-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-family: sans-serif;
  }

  .contact-form legend {
    display: block;
    width: 80px auto;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .contact-form input,
  .contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #0a026e;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .contact-form button:hover {
    background-color: #07015a;
  }
