.navbar {
  background-color: #04012A;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.6s;
}

.location a:hover {
    color: rgb(55, 0, 255);
}

.Name{
    float: left;

}
