<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Birthday</title>
</head>
<body class="container">

<div id="Home">
  <h1 class="Home2">Happy Birthday</h1>
  <p>Wishing you joy, love, and happiness today & always 💖</p>
  <!-- this is where i would put the picture-->
</div>

<div id="About">
  <h1>About</h1>
  <p>This where i would write my wish to her</p>
  <!--Picture of them here again-->
</div>

<div id="fav">
  <h1> Favourite Picture</h1>
  <img src="/assest" alt="My Photo">
  <a routerLink="gallery">See more photos</a>

  <!--This is where i would put their favourite pictures-->
</div>

<div id="preview">
  <h1>Wishes</h1>
  <!--Preview of the wishes-->

  <a routerLink="wishes">See more wishes</a>
</div>
</body>
</html>
